.flashcard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.flashcard {
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 200px;
    transition: transform 0.2s ease;
}

/* Styling for the arrow buttons */
.arrow-button {
    mask-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-button:hover {
    transform: scale(2.0); /* Slight zoom effect on hover */
}

/* Left arrow button positioning */
.arrow-left {
    position: absolute;
    left: 280px;
}

/* Right arrow button positioning */
.arrow-right {
    position: absolute;
    right: 280px;
     /* Move closer to the flashcard */
}
